
.nav{
    background-color: sandybrown ;
    padding-top: 2.5rem;
    width: 100%;
   
}

#nav li a:hover{
    background-color:rgb(170, 127, 47);
}
.logo-box{
    float: left;
}
#logo-box .logo{
    font-family:Montserrat ;
    font-weight: 700;
    color: #ffffff;
    font-size: 3.2rem;

}
#nav{
    background-color: rgb(109, 107, 23);
    position: fixed;
}
#nav-links{
    float: right;
}
#nav-links .nav-item{
    float: right;
}
#nav-links li{
    float: left;
    width: 100%;
    
}
#nav-links li a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 1.4rem 1.6rem;
    text-decoration: none;
}
#nav ul{
    list-style-type: none;
    overflow: hidden;
}

#nav-links.responsive li:not(:first-child){
    display: none;
}
#nav{
    width: 100%;
    font-family: Montserrat;
    z-index: 490;
    opacity: 0.9;
}

/******/


html,body{
    background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
    }
    
    .container{
    height: 100%;
    align-content: center;
    }
    
    .card{
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
    }
    
    .social_icon span{
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
    }
    
    .social_icon span:hover{
    color: white;
    }
    
    .card-header h3{
    color: white;
    }
    
    .social_icon{
    position: absolute;
    right: 20px;
    top: -45px;
    }
    
    .input-group-prepend span{
    width: 50px;
    background-color: #FFC312;
    color: black;
    border:0 !important;
    }
    
    input:focus{
    
    box-shadow: 0 0 0 0 !important;
    
    }
    
    .remember{
    color: white;
    }
    
    .remember input
    {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
    }
    
    .login_btn{
    color: black;
    background-color: #FFC312 ;
    width: 100px;
    }
    
    .login_btn:hover{
    color: black;
    background-color: white!important;
    }
    
    .links{
    color: white;
    }
    
    .links a{
    margin-left: 4px;
    }
    .deneme{
        color: rgb(185, 185, 185);
        left: 25%;
    
    }